PROJECT_NAME=Kubernetes Todo Lab
BACKEND_CORS_ORIGINS=["http://localhost:8081"]
POSTGRES_SERVER=database
POSTGRES_USER=todo
POSTGRES_PASSWORD=change-me-for-local-development
POSTGRES_DB=todo
REACT_APP_BACKEND_BASE_URI=/api/items
